<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>今日新闻推荐</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
</head>
<body>
          <div id="div1"><img src="/static/img/4.jpg" /></div>
          <h1>今日新闻推荐</h1>
          <form action="" method="post" class="basic-grey">

              <input type="submit" class="button" name="action" value="login" />
              <input type="submit" class="button" name="action" value="signup" />
          </form>


</body>
</html>