<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css"/>
</head>
<body>
      <div id="div1"><img src="/static/img/1.jpg" /></div>
      <form action="" class="basic-grey" method="post">
          <h1>sign up
            <span>Please fill all the texts in the fields.</span>
          </h1>
            <label>
            <span>UserName :</span>
            <input id="username" type="text" name="username" placeholder="Your UserName" />
            </label>

            <label>
            <span>PassWord :</span>
            <input id="password" type="password" name="password" placeholder="Your PassWord" />
            </label>

            <label>
            <span>Interest :</span>
                <p>
                 <input type="radio" name="interest" value="fun">娱乐
                 <input type="radio" name="interest" value="sport"> 体育
                 <input type="radio" name="interest" value="economy">经济
                </p>
            </label>

            <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Submit" />
            </label>
      </form>>
</body>
</html>